body {
	width: 230px;
	height: 180px;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	color: White;
	background: deeppink;
	padding: 3px;
}
h2 {
	text-align: center;
	font-family: sans-serif;
}
p {
	font-family: sans-serif;
	font-size: 14px;
}
.container {
	width: 230px;
	height: 130px;
	background-color: white;
	align-items: center;
}


.button {
	background-color: deepskyblue;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
}

.button2 {
	background-color: lightblue;
}

.button3 {
	background-color: lightgreen;
}

.button4 {
	background-color: yellow;
}

.button5 {
	background-color: orange;
}
.button6 {
	background-color: pink;
}
.button7 {
	background-color: deeppink;
}
.button8 {
	background-color: turquoise;
}
.button9 {
	background-color: navajowhite;
}