/* This changes the way selecting text looks */

p::-moz-selection{
	color: white;
	background: #F72585;
}

p::selection{
	color: white;
	background: #F72585;
}

/*I learned about p::selection from https://tutorialdeep.com/knowhow/text-selection-color-css/*/